<%#
    This creates one row for each horse in the queue and then populates it.
    uses javascript from scripts/queue-item.js

    Implicitely passed in from horse route, or having a batch of horses be ran through a for loop.
    @input {Horse} horse is gotten from the backend to update the fields.

    Example: include('partials/queue-item', { horse, scripts })
%>

<%
const { lastVisitDate, computeBorderStyle } = scripts
const date = lastVisitDate(horse)
%>
<%# computBorderStyle determines the status color of the horse in queue %>
<%# lastVisitDate makes sure the date isn't undetermined %>


<tr>
  <td class="queue-cell" style=<%- computeBorderStyle(horse) %></td>
    <a class="link-unstyled queue-item-link" id='<%=horse.id%>' href="/horse/<%= horse.id %>">
      <%= horse.name %>
    </a>
  </td>
  <td class="queue-cell">
    <address>
      <a class="link-unstyled queue-item-link" id='<%=horse.id%>' href="/horse/<%= horse.id %>">
        <%= horse.location %>
      </a>
    </address>
  </td>
  <td class="queue-cell">
    <a class="link-unstyled queue-item-link" href="/horse/<%= horse.id %>">
      <%= `${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear()}` %>
    </a>
  </td>
  <td class="queue-cell">
    <address>
      <a class="link-unstyled queue-item-link" id='<%=horse.id%>' href="/horse/<%= horse.id %>">

        <%= assignedFarrier != undefined ? assignedFarrier.fname.charAt(0) + '.' +   assignedFarrier.lname.charAt(0): "None" %>
      </a>
    </address>
  </td>
  <td class="queue-item-dropdown">
    <div class="dropdown open dropleft">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <% if (horse.assignedFarrier == user._id) { %>
        <form action='/horse/unassign/<%=horse.id%>' method='POST'>
          <button class="dropdown-item">
            Unassign
          </button>
        </form>
        <%} else { %>
        <form action='/horse/assign/<%=horse.id%>' method='POST'>
          <button class="dropdown-item">
            Assign to me
          </button>
        </form>
        <% } %>
        <form action='/horse/dismiss/<%=horse.id%>' method='POST'>
          <button class="dropdown-item">
            Quick-shoe
          </button>
        </form>
      </div>
    </div>
  </td>
</tr>
<script>


</script>
