<%
  const { lastVisitDate, computeBorderStyle } = scripts
  const date = lastVisitDate(horse)
%>

<tr style=<%- computeBorderStyle(horse) %>>
  <td><a class="link-unstyled" href="/horse/<%= horse.id %>"><%= horse.name %></a></td>
  <td>
    <address><%= horse.location %></address>
  </td>
  <td>
    <%= `${date.getUTCMonth() + 1}/${date.getUTCDate()}/${date.getUTCFullYear()}` %>
  </td>
</tr>
