<%
  const { lastVisitDate, computeBorderColor } = scripts
  const date = lastVisitDate(horse)
  const borderColor = computeBorderColor(horse)
%>

<tr style="border-left: 10px solid <%= borderColor %>;
          border-right: 10px solid <%= borderColor %>;">
  <td><a class="link-unstyled" href="/horse/<%= horse.id %>"><%= horse.name %></a></td>
  <td>
    <address><%= horse.location %></address>
  </td>
  <td>
    <%= `${date.getUTCMonth() + 1}/${date.getUTCDate()}/${date.getUTCFullYear()}` %>
  </td>
</tr>
