<%#
    This is the prototype shoeing has everything explicitly declared, also doesn't have good formatting when empty.
    this should either be changed or deleted soon. Whoever changes this should update this comment section.
    Most other partials should be able to show the formatting.
%>

<h1><%= hoof %></h1>

<h2>A/P</h2>
<img alt="Horse" class="img-fluid float-left" src=<%= hoofImage1 %> />

<h2>M/L</h2>
<img alt="Horse" class="img-fluid float-left" src=<%= hoofImage2%> />
<h3>Measurements:</h3>
<p>Type: <%= shoeType%></p>
<p>Size: <%= shoeSize%></p>
<h3>Notes:</h3>
<p><%= notes %></p>
