<%#
    This creates one row for each shoeing report a horse has and then populates it.

    Example: include('partials/shoeing-report-thumbnail', {single_shoeing})
%>

<div class="shoeing-card">
    <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <!-- In order for the collapse functionality to work each cell needs to have a unique ID,
                     So I am using a regexed version of the date to create the ID ensuring they will all be
                      unique unless (somehow) two reports are created in the same second-->
            <button type="button" class="btn btn-link" data-toggle="collapse"
                    data-target="#<%= singleShoeing.date.toString().replace(/[^\w\s]|_/g, "").replace(/\s+/g, "")%>">
                <%= singleShoeing.farrier %>
                <%= `${singleShoeing.date.getMonth() + 1}/${singleShoeing.date.getDate()}/${singleShoeing.date.getFullYear()}` %>
            </button>

            <a type="button" class="btn"
               href="/horse/<%= horse.id %>/view-report">View Report</a>
        </h2>
    </div>

    <div id="<%= singleShoeing.date.toString().replace(/[^\w\s]|_/g, "").replace(/\s+/g, "")%>"
         class="collapse shoeing-card-body" aria-labelledby="headingOne" data-parent="#shoeings-accordian">
        <div class="card-body">
            <p>Notes: <%= singleShoeing.other %></p>
        </div>
    </div>
</div>