<h1><%= hoof %></h1>

<h2>A/P</h2>
<img alt="Horse" class="img-fluid float-left" src= <%= hoofImage1 %> />

<h2>M/L</h2>
<img alt="Horse" class="img-fluid float-left" src=<%= hoofImage2%> />
<h3>Measurements:</h3>
<p>Type: <%= shoeType%></p>
<p>Size: <%= shoeSize%></p>
<h3>Notes:</h3>
<p> <%= notes %></p>