<h1><%= hoof %></h1>
<h2>A/P</h2>
<img alt="Horse" class="img-fluid float-left" src= <%= hoofImage1 %> />
<h3>Measurements:</h3>
<p>Type: <%= shoeType1 %></p>
<p>Size: <%= shoeSize1%></p>
<h3>Notes:</h3>
<p><%= notes1 %></p>
<h2>M/L</h2>
<img alt="Horse" class="img-fluid float-left" src=<%= hoofImage2%> />
<h3>Measurements:</h3>
<p>Type: <%= shoeType2%></p>
<p>Size: <%= shoeSize2%></p>
<h3>Notes:</h3>
<p> <%= notes2 %></p>