<a class="col-md-3 link-unstyled" href="/user/<%= user.lname %>">
    <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
        <div class="single-user" data-toggle="tooltip">
            <%= user.fname %>
            <%= user.lname %>
            <%= user.phone %>
            <%= user.email %>
        </div>
    </span>
</a>
