<%#
    This partial takes a single user and displays their info.

    Explicitly passed in on webpage.
    @input {User} user needs a User object to display their info.

    Example: include('partials/single-user', {user: user})
%>
<div class="col-md-3 link-unstyled">
    <span class="tooltip-r" data-toggle="tooltip" data-placement="left" title="Explanation">
        <div class="single-user" data-toggle="tooltip">
            <%= user.fname %>
            <%= user.lname %>
            <%= user.username %>
            <%= user.phone %>
            <%= user.email %>
        </div>
    </span>
</div>
