<%- include('partials/head', { title: 'New Shoeing' }) %>

<body>
<%- include('partials/header-nav') %>
<div id="page-container" class="container-fluid">
    <div class="container hprofile">
        <h1>New Shoeing for [Insert horsename here]</h1>
        <form action="">
            <div class="row">
            <%- include('partials/form-shoeing', {hoof: 'Front Left'}) %>
            <%- include('partials/form-shoeing', {hoof: 'Front Right'}) %>
            </div>
            <div class="row">
            <%- include('partials/form-shoeing', {hoof: 'Back Left'}) %>
            <%- include('partials/form-shoeing', {hoof: 'Back Right'}) %>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<%- include('partials/footer') %>
</body>
