<%- include('partials/head', { title: 'New Shoeing' }) %>

<body>
  <%- include('partials/header-nav') %>
  <div id="page-container" class="container-fluid">
    <div class="container form">
      <h1>New Shoeing for <%= horse.name %></h1>
        <form action="/horse/<%= horse.id %>/new-shoeing" method="post">

        <div class="row">
          <%- include('partials/shoeing-input-form', {hoof: 'Front Left', hoofIdent: "frontLeft"}) %>
          <%- include('partials/shoeing-input-form', {hoof: 'Front Right', hoofIdent: "frontRight"}) %>
        </div>
        <div class="row">
          <%- include('partials/shoeing-input-form', {hoof: 'Back Left', hoofIdent: "backLeft"}) %>
          <%- include('partials/shoeing-input-form', {hoof: 'Back Right', hoofIdent: "backRight"}) %>
        </div>

        <%- include('partials/shoeing-checkboxes') %>

        <div class="">
          <button type="submit" class="btn btn-primary" value="'shoeing">Submit</button>
        </div>

      </form>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
