<%- include('partials/head', { title: 'New Shoeing' }) %>

<body>
  <%- include('partials/header-nav') %>
  <div id="page-container" class="container-fluid">
    <form action="/horse/<%= horse.id %>/new-report" method="post" enctype="multipart/form-data">
      <div class="container form">
        <div class="form-group">
          <h1>Report Date</h1>
          <input type="date" name="date">
        </div>
        <div class="form-group">
          <H1>New Medical Analysis for <%= horse.name %></H1>
          <%- include('partials/medical-input-fields', {editable: true}) %>
        </div>
      </div>
      <div class="container form">
        <div class="form-group">
          <h1>New Shoeing for <%= horse.name %></h1>
          <label for="shoe">Shoeing Type:</label>
          <select class="form-control" id="shoe" name="job">
            <option selected disabled>Select Shoeing</option>
            <option>Full</option>
            <option>Half</option>
            <option>Trim</option>
          </select>
        </div>
        <div class="container form" id="front">
          <h1>Front</h1>
          <div class="form-group">
            <div class="row">
              <%- include('partials/shoeing-input-form', {hoof: 'Front Left', hoofIdent: "frontLeft"}) %>
              <%- include('partials/shoeing-input-form', {hoof: 'Front Right', hoofIdent: "frontRight"}) %>
            </div>
            <div class="row">
              <%- include('partials/shoeing-checkboxes', {shoesName: 'frontShoes', mName: 'frontMaterials', sName: 'frontServices'}) %>
            </div>
            <label class="control-label" for="frontNotes">
              <H3>Front Notes</H3>
            </label>
            <textarea type="text" class="form-control " id="frontNotes" name="frontNotes" rows="6"
              placeholder="Front specific notes here" cols="80"></textarea>
            <div class="form-group">
              <label for="images">Front Images</label>
              <input type="file" class="form-control" id="images" name="frontImages" multiple>
            </div>
          </div>
        </div>
        <div class="container form" id="back">
          <h1>Back</h1>
          <div class="form-group">
            <div class="row">
              <%- include('partials/shoeing-input-form', {hoof: 'Back Left', hoofIdent: "backLeft"}) %>
              <%- include('partials/shoeing-input-form', {hoof: 'Back Right', hoofIdent: "backRight"}) %>
            </div>
            <div class="row">
              <%- include('partials/shoeing-checkboxes', {shoesName: 'backShoes', mName: 'backMaterials', sName: 'backServices'}) %>
            </div>
            <label class="control-label" for="backNotes">
              <H3>Back Notes</H3>
            </label>
            <textarea type="text" class="form-control " id="backNotes" name="backNotes" rows="6"
              placeholder="Back specific notes here" cols="80"></textarea>
            <label for="images">Back Images</label>
            <input type="file" class="form-control" id="images" name="backImages" multiple>
          </div>
        </div>
        <div class="container form">
          <h1>Other</h1>
          <label class="control-label" for="reportNotes">
            <H3>Other Notes:</H3>
          </label>
          <textarea class="form-control" id="notes" name="reportNotes" rows="4"
            placeholder="Report specific notes here"></textarea>
          <div class="form-group">
            <label for="images">Other Images</label>
            <input type="file" class="form-control" id="images" name="reportImages" multiple>
          </div>
          <button type="submit" class="btn btn-primary" value="'shoeing">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <%- include('partials/footer') %>
</body>
