<%- include('partials/head', { title: 'New Shoeing' }) %>

<body>
  <%- include('partials/header-nav') %>
  <div id="page-container" class="container-fluid">
    <div class="container form">
      <form action="/horse/<%= horse.id %>/new-report" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <h1>Date</h1>
          <input type="date">
        </div>
        <div class="form-group">
          <H1>New Medical Analysis for <%= horse.name %></H1>
          <%- include('partials/medical-input-fields', {editable: true}) %>
        </div>
        <div class="form-group">
          <h1>New Shoeing for <%= horse.name %></h1>
          <label for="shoe">Shoeing Type:</label>
          <select class="form-control" id="shoe" name="job" onchange="jobChanged()">
            <option selected disabled>Select Shoeing</option>
            <option>Full</option>
            <option>Half</option>
            <option>Trim</option>
          </select>
        </div>
        <div class="row" id="front" style="display:none;">
          <%- include('partials/shoeing-input-form', {hoof: 'Front Left', hoofIdent: "frontLeft"}) %>
          <%- include('partials/shoeing-input-form', {hoof: 'Front Right', hoofIdent: "frontRight"}) %>
          <%- include('partials/shoeing-checkboxes') %>
          <div class="column form">
            <label class="control-label" for="frontNotes">
              <H3>Front Notes</H3>
            </label>
            <textarea type="text" class="form-control " id="frontNotes" name="frontNotes" rows="6"
              cols="80"></textarea>
          </div>
        </div>
        <div class="row" id="back" style="display:none;">
          <%- include('partials/shoeing-input-form', {hoof: 'Back Left', hoofIdent: "backLeft"}) %>
          <%- include('partials/shoeing-input-form', {hoof: 'Back Right', hoofIdent: "backRight"}) %>
          <%- include('partials/shoeing-checkboxes') %>
          <div class="column form">
            <label class="control-label" for="backNotes">
              <H3>Back Notes</H3>
            </label>
            <textarea type="text" class="form-control " id="backNotes" name="backNotes" rows="6"
              cols="80"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="reportNotes">
            <H3>Other Notes:</H3>
          </label>
          <textarea class="form-control" id="notes" name="reportNotes" rows="4"
            placeholder="Report specific notes here"></textarea>
          <div class="form-group">
            <label for="images">Other Images</label>
            <input type="file" class="form-control" id="images" name="reportImages" multiple>
          </div>
          <div class="">
            <button type="submit" class="btn btn-primary" value="'shoeing">Submit</button>
          </div>
      </form>
    </div>
  </div>
  <%- include('partials/footer') %>
  <script>
    function jobChanged() {
      const job = document.getElementById('shoe').value, back = document.getElementById('back'), front = document.getElementById('front')
      switch (job) {
        case 'Full':
        case 'Trim':
          if (back.style.display === 'none') back.style.display = 'flex'
          if (front.style.display === 'none') front.style.display = 'flex'
          break
        case 'Half':
          if (front.style.display === 'none') front.style.display = 'flex'
          if (back.style.display === 'flex') back.style.display = 'none'
          break
        default:
          back.style.display = 'none'
          front.style.display = 'none'
          break
      }
    }
  </script>
</body>
