<%- include('partials/head', { title: 'New Medical Analysis' }) %>

<body>
  <%- include('partials/header-nav') %>
  <div id="page-container" class="container-fluid">
    <div class="container form">
      <H1>New Medical Analysis for <%= horse.name %></H1>
      <form action="/horse/<%= horse.id %>/new-medical-analysis" method="post">

        <%- include('partials/medical-input-fields', {editable: true}) %>

        <button type="submit" class="btn btn-primary" value="medical">Submit</button>
      </form>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
