<%- include('partials/head', { title: 'Horse Queue', css: 'queue' }) %>

<body>
  <%- include('partials/header-nav', {name: user.username}) %>
  <div id="page-container">
    <div class="row">
      <div class="col">
        <h2 class="text-center my-3">Queue</h2>
      </div>
    </div>
    <div class="row">
      <div class="col- mx-auto w-75">

        <ul class="nav nav-tabs">
          <li class="nav-item"> <a href="" class="active nav-link" data-toggle="pill"
              data-target="#viewAll"> View All Horses</i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill"
              data-target="#viewAssigned"> View Assigned Horses</i></a> </li>
        </ul>
        <div class="tab-content">

          <div class="tab-pane fade show active" id="viewAll" role="tabpanel">
            <table id="queue" class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col" id="left-col">Horse</th>
                  <th scope="col">Location</th>
                  <th scope="col" id="right-col">Last Visit</th>
                </tr>
              </thead>
              <tbody>
                <% for (horse of horses) { %>
                <%-  include('partials/queue-item', { horse, scripts }) %>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="viewAssigned" role="tabpanel">
            <table id="queue" class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col" id="left-col">Horse</th>
                  <th scope="col">Location</th>
                  <th scope="col" id="right-col">Last Visit</th>
                </tr>
              </thead>
              <tbody>
                <% for (horse of assignedHorses) { %>
                <%-  include('partials/queue-item', { horse, scripts, user}) %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
