<%- include('partials/head', { title: 'Report', css: 'report' }) %>

<body>
<div id="report-header">
    <div class="container">
        <div class="row">
            <div class="col align-self-start">
                <img src="../public/images/FC_Logo.png" id="logo">
            </div>
            <div class="col-md-auto" id="report-title">
                <h2> Farrier Center Report </h2>
            </div>
            <div class="col align-self-end">

                <% let today = new Date() %>
                <h5 style="float: right"><%- `${today.getMonth() + 1}/${today.getDate()}/${today.getFullYear()}` %></h5>
            </div>
        </div>
    </div>
    <hr>
</div>

<div id="horse-overview">
    <div>
        <img src="src=<%= horse.image === undefined ? "../public/images/horse_profile.png" : horse.image.url %>" id="horse-img">
    </div>
    <div id="horse-info">
        <div class="row">
            <div class="col">Name: <%= horse.name %></div>
            <div class="w-100"></div>
            <div class="col">Gender: <%= horse.gender %></div>
            <div class="w-100"></div>
            <div class="col">Discipline: <%= horse.discipline %></div>

            <div class="w-100"></div>
            <div class="col">Location: <%= horse.location %></div>
        </div>
    </div>
</div>

<div id="issue">
    <h4 class="title">Description Of Main Issue</h4>
    <p contenteditable="true">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
    <div id="before-and-after">
        <div id="before">
            <img src="badhoof.jpg" class="comparison-image">
            <h2>Before</h2>
        </div>
        <div id="after" style="float: right">
            <img src="goodhoof.jpg" class="comparison-image">
            <h2>After</h2>
        </div>
    </div>
</div>

<div>
    <h2 class="title">
    Most Recent Shoeing
    </h2>
    <% const singleShoeing = shoeings[0] %>
    <%-  include('partials/shoeing-visit', {singleShoeing}) %>


<% for (const singleShoeing of shoeings.slice(1)) { %>

          <%-  include('partials/shoeing-visit', {singleShoeing}) %>

        <% } %>
<div>
</body>