<%- include('partials/head', { title: 'User Profile', css: 'user' }) %>

<body>
  <%- include('partials/header-nav', {name: user.username}) %>
  <div class="container" id="page-container">
    <div class="row w-75">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item"> <a href="" class="active nav-link" data-toggle="pill"
              data-target="#tabone"><i class="fa fa-user"> User</i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill"
              data-target="#tabfour"><i class="fa fa-book"> Bio</i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill"
              data-target="#tabtwo"><i class="fa fa-cog"> Change Password</i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill"
              data-target="#tabthree"><i class="fa fa-paint-brush"> Theme</i></a> </li>

        </ul>
        <div class="tab-content mt-2">

          <!-- Tab One-->
          <div class="tab-pane fade show active" id="tabone" role="tabpanel">
            <form class="form" action="/user/update-info" method="post">
              <div class="form-group">
                <div class="col-xs-6">
                  <input type="text" class="form-control" name="fname" placeholder='First Name'
                    id="first_name" value=<%= user.fname %>>
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <input type="text" class="form-control" name="lname" placeholder='Last Name'
                    id="last_name" value=<%= user.lname %>>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  <input type="text" class="form-control" name='phone' placeholder='Phone #'
                    value=<%= user.phone %>>
                </div>
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" name="email" placeholder='E-mail'
                  readonly="true" id="email" value=<%= user.email %>>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <button type="submit" class="btn btn-primary mt-3">Update</button>
                </div>
              </div>
            </form>
          </div>

          <!-- Tab Two-->
          <div class="tab-pane fade" id="tabtwo" role="tabpanel">
            <form class="form" action="/user/update-password" method="post"
              oninput='confirmpass.setCustomValidity(confirmpass.value != newpass.value ? "Passwords do not match." : "")'>
              <h4>Change Password</h4>
              <br>
              <div class="form-group row">
                <div class="col-6">
                  <input type="password" class="form-control" placeholder='current password'
                    name="currentpass">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-6">
                  <input type="password" class="form-control" placeholder='new password'
                    name="newpass">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-6">
                  <input type="password" class="form-control" placeholder='confirm password'
                    name="confirmpass">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-6">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>
          </div>

          <!-- Tab Three-->
          <div class="tab-pane fade" id="tabthree" role="tabpanel">
            <div class="container form">
              <h1>Theme</h1>
              <form action="/user/theme" method="post">
                <div class="form-group">
                  <label>Theme:</label>
                  <select class="form-control" name="theme">
                    <% for (theme of themes) { %>
                    <%- include('partials/dropdown-option', theme) %>
                    <% } %>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
            </div>
          </div>

          <!-- Tab Four-->
          <div class="tab-pane fade" id="tabfour" role="tabpanel">
            <div class="container form">
              <h1>Bio</h1>
              <form action="/user/bio" method="post">
                <div class="form-group">
                  <textarea class='form-control' name='bioForm'
                    placeholder='Write something here. You will have the option to include it in your reports'><%= user.bio %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <%- include('partials/footer') %>
</body>
