<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript"
  src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

<link rel="stylesheet" type="text/css"
    href="../public/stylesheets/report.css" />

<body>
<div id="report-header">
    <div class="container">
        <div class="row">
            <div class="col align-self-start">
                <img src="../public/images/FC_Logo.png" id="logo">
            </div>
            <div class="col-md-auto" id="report-title">
                <h2> Farrier Center Report </h2>
            </div>
            <div class="col align-self-end">
                <% let today = new Date() %>
                <h5 style="float: right"><%- `${today.getMonth() + 1}/${today.getDate()}/${today.getFullYear()}` %></h5>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <br>
    <br>
    <br>
</div>

<div id="horse-overview">
    <div>
        <img src=<%= horse.image === undefined ? "../public/images/horse_profile.png" : horse.image.url %> id="horse-img">
    </div>
    <div id="horse-info">
        <div class="row">
            <div class="col">Name: <%= horse.name %></div>
            <div class="w-100"></div>
            <div class="col">Gender: <%= horse.gender %></div>
            <div class="w-100"></div>
            <div class="col">Discipline: <%= horse.discipline %></div>

            <div class="w-100"></div>
            <div class="col">Location: <%= horse.location %></div>
        </div>
    </div>
</div>

<div id="issue">
    <h4 class="title">Description Of Main Issue</h4>
    <p contenteditable="true">
        "Describe Issue here"
    </p>

</div>

<p class="page-breaker">
<div>
    <h2 class="title">
    Most Recent Shoeing
    </h2>
    <% const report = reports[0] %>
    <%-  include('partials/shoeing-visit', {report}) %>
</div>

<div>
<% for (const report of reports.slice(1)) { %>
    <p class="page-breaker"></p>
          <%-  include('partials/shoeing-visit', {report}) %>

        <% } %>
</div>
</body>